.contact {
    padding-top: 27px;
    @media screen and(min-width: 768px) {
        padding-top: 51px;
    }
    @media screen and(min-width: 1280px) {
        padding-top: 55px;
    }
}
.contact-wraper {
    max-width: 656px;
    margin: 0 auto;
    padding: 0 15px;
}
.contact-form {
    text-align: center;
}
.contact-form__title {
    font-family: $style_font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 2.71px;
    color: #2E2520;
    margin-bottom: 35px;
}
.contact-form__text {
    font-family: $first_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 4.06px;
    color: #2E2520;
    margin-bottom: 30px;
}

.contact-form__input {
    display: block;
    border: 1px solid #AB816C;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    &::placeholder {
        font-family: 'Montserrat', sans-serif;;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(171, 129, 108, 0.5);
    }
    @media screen and(min-width: 768px) {
        width: 410px;
    }
    @media screen and(min-width: 1280px) {
        width: 430px;
    }
}
.contact-form__input--text {
    margin-bottom: 25px;
}
.contact-form__button {
    display: inline-block;
    background-color: $button_color;
    border: none;
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 57px;
    padding-bottom: 15px;
    padding-left: 57px;
    font-family: $style_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 3.61px;
    color: #FFFFFF;
    margin-bottom: 47px;
    @media screen and(min-width: 1280px) {
        padding-right: 59px;
        padding-left: 59px;
    }
}
