.contact {
    padding-top: 27px;
    @media screen and(min-width: 768px) {
        padding-top: 51px;
    }
    @media screen and(min-width: 1280px) {
        padding-top: 55px;
    }
}
.contact-wraper {
    max-width: 656px;
    margin: 0 auto;
    padding: 0 15px;
}
.contact-form {
    text-align: center;
}
.contact-form__title {
    font-family: $style_font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 0.2;
    color: #2E2520;
    margin-bottom: 35px;
    @media screen and(min-width: 1280px) {
        font-size: 36px;
        line-height: 0.1;
    }
}
.contact-form__text {
    font-family: $first_font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0.4;
    color: #2E2520;
    margin-bottom: 30px;
}

.contact-form__input {
    display: block;
    border: 1px solid #AB816C;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    background-color: #FFFFF9;

    &:invalid:not(:placeholder-shown) {
        border-color: red;
    }
    @media screen and(min-width: 768px) {
        width: 410px;
    }
    @media screen and(min-width: 1280px) {
        width: 430px;
    }

    &::placeholder {
        font-family: $first_font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: rgba(171, 129, 108, 0.5);
    }


}
.contact-form__input--text {
    margin-bottom: 25px;
}
.contact-form__button {
    display: inline-block;
    background-color: $button_color;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding-top: 15px;
    padding-right: 57px;
    padding-bottom: 15px;
    padding-left: 57px;
    font-family: $style_font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0.3;
    color: #FFFFFF;
    margin-bottom: 47px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #BE724C;
    }
    @media screen and(min-width: 1280px) {
        padding-top: 19px;
        padding-right: 59px;
        padding-bottom: 19px;
        padding-left: 59px;
        font-size: 24px;
        line-height: 0.2;
    }
}
