
@media screen and (min-width: 320px){
   .footer__content{
    padding-top: 34px;
    padding-bottom: 19px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid red;
    background-image: url(../images/footer-img/footer-image-x1.png);
    background-size: 87px 64px;
    background-repeat: no-repeat;
    background-position: right bottom;
   }
   @media   (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .footer__content {
                background-image: url(../images/footer-img/footer-image-x2.png);
                
            }
        }

   .footer__social{
    display: flex;
    justify-content: center;
   }
   .footer__link--social{
       margin-right: 9.40px;
       &:last-child{
           margin-right: 0px;
       }
   }
   .footer__icon{
       width: 19px;
       height: 14.40px;
   }
   .footer__address{
       margin-top: 34px;
   }
   .footer__icon--item{
       display: inline-flex;
       justify-content: center;
       align-items: center;
       padding: 0;
       margin: 0;
   }
   .footer__unordered{
       display: flex;
       justify-content: space-between;
   }
   .footer__icon--tel{
       width: 13px;
       height: 13px;
       margin-right: 3px;
   }
   .footer__icon--location{
        width: 11px;
        height: 14.40px;
        margin-right: 3px;
   }
  .footer__link{
      font-size: 16px;
      font-weight: 400;
      font-family: $first_font;
      font-style: normal;
      color: $first_color;
  }
  
   
}