@media screen and (min-width: 320px) {
  body{
    background-color: #FFFFF9;
  }
  .body__bg {
    background-image: url(../images/footer-img/bublik-x1.png),
      url(../images/footer-img/bg-mobile-x1.png), url(../images/footer-img/footer-mobi-x1.png),
      url(../images/footer-img/bg-bm-mobile.png);
    background-repeat: no-repeat;
    background-size: 117px, 100% 461px, 87px, 100% 1100px;
    background-position: 0 0, 0 0, 100% 100%, bottom 168px left;
    z-index: 999;
    position: relative;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
    not all,
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .body__bg {
      background-image: url(../images/footer-img/bublik-x2.png),
        url(../images/footer-img/bg-mobile-x1.png), url(../images/footer-img/footer-mobi-x2.png),
        url(../images/footer-img/bg-bm-mobile.png);
    }
  }
  .body__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .body__container {
    width: 320px;
  }
  .footer__content {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 19px;
  }

  .footer__social {
    display: flex;
    justify-content: center;
  }
  .footer__link--social {
    position: relative;
    margin-right: 9.4px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .footer__icon {
    width: 19px;
    height: 14.4px;
  }

  //Анимация иконок

  .tada:hover {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes tada {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes tada {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  // Конец анимации
  .footer__address {
    margin-top: 34px;
  }
  .footer__icon--item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer__unordered {
    display: flex;
    justify-content: space-between;
  }
  .footer__icon--tel {
    width: 13px;
    height: 13px;
    margin-right: 3px;
  }
  .footer__icon--location {
    width: 11px;
    height: 14.4px;
    margin-right: 3px;
  }
  .footer__link {
    font-size: 16px;
    font-weight: 400;
    font-family: $first_font;
    font-style: normal;
    color: $first_color;
  }
}
//tablets
@media screen and (min-width: 768px) {
  .body__bg {
    background-image: url(../images/footer-img/bublik-table-x1.png),
      url(../images/footer-img/bg-table.png), url(../images/footer-img/footer-tablet-x1.png),
      url(../images/footer-img/bg-bm-table.png);
    background-repeat: no-repeat;
    background-size: 305px, 100% 622px, 153px, 100% 1264px;
    background-position: top right 147px, 0 0, 100% 100%, bottom 63px left;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
    not all,
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .body__bg {
      background-image: url(../images/footer-img/bublik-table-x2.png),
        url(../images/footer-img/bg-table.png), url(../images/footer-img/footer-tablet-x2.png),
        url(../images/footer-img/bg-bm-table.png);
    }
  }
  .body__container {
    width: 768px;
    padding-left: 67px;
    padding-right: 67px;
  }
  .footer__content {
    width: 634px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 29px;
    padding-bottom: 22px;
  }
}
//desctop
@media screen and (min-width: 1280px) {
  .body__bg {
    background-image: url(../images/footer-img/bublik-desc-x1.png),
      url(../images/footer-img/sp-desc-x1.png), url(../images/footer-img/bg-desc.png),
      url(../images/footer-img/footer-desc-x1.png), url(../images/footer-img/bg-bm-desc.png);
    background-repeat: no-repeat;
    background-size: 679px, 130px, 100% 1036px, 320px, 100% 1496px;
    background-position: 100% 0, 0 166px, 0 0, 100% 100%, 0 100%;
  }
  @media (-webkit-min-device-pixel-ratio: 2),
    not all,
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .body__bg {
      background-image: url(../images/footer-img/bublik-desc-x2.png),
        url(../images/footer-img/sp-desc-x2.png), url(../images/footer-img/bg-desc.png),
        url(../images/footer-img/footer-desc-x2.png), url(../images/footer-img/bg-bm-desc.png);
    }
  }
  .body__container {
    width: 1280px;
    padding-left: 229px;
    padding-right: 229px;
  }
  .footer__content {
    width: 822px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 55px;
    padding-bottom: 22px;
  }
}
