ul {
  list-style: none;
}

.section__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;

  text-align: center;

  color: #2e2520;
}

.section__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: #2e2520;
}

feature__set {
}

.feature {
}

.feature__title {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: #000000;
}

.feature__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;

  color: #000000;
}
