.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    width: 768px;
    // justify-content: space-between;
    padding-left: 67px;
    padding-right: 67px;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-left: 228px;
    padding-right: 228px;
  }
}
@media screen and (min-width: $desktop) {
  .container {
    margin-top: 462px;
  }
}
.section {
  background-color: $bgd-color;
  margin-bottom: 25px;
  padding-bottom: 30px;
}
.text__content {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  @media screen and (min-width: $tablet) {
    width: 298px;
    margin-right: auto;
    margin-left: 0;
  }
  @media screen and (min-width: $desktop) {
    width: 392px;
    margin-right: 40px;
  }
}
.section__title {
  font-family: $style_font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2.71;
  color: $first_color;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.81;
  }
}
.section__text {
  font-family: $first_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $first_color;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.section__text--indent {
  display: block;
  margin-bottom: 10px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 21px;
  }
}
.text__items {
  margin-bottom: 10px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 21px;
  }
}
.text__item::before {
  content: '>';
  font-family: $first_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $first_color;
  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.22;
  }
}
.text__item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}
.feature__set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  @media screen and (min-width: $tablet) {
    width: 312px;
    margin-right: -14px;
  }
  @media screen and (min-width: $desktop) {
    width: 424px;
    margin-right: -32px;
  }
}
.feature {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  background-color: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
  flex-basis: calc((100% - 2 * 5px) / 2);
  margin-right: 5px;
  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 2 * 14px) / 2);
    margin-right: 14px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 32px) / 2);
    margin-right: 32px;
    width: 180px;
    height: 180px;
  }
}
.feature:nth-child(-n + 2) {
  margin-bottom: 57px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 61px;
  }
}
.feature:nth-child(2n) {
  transform: translateY(18%);
  @media screen and (min-width: $desktop) {
    transform: translateY(31%);
  }
}
.feature__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.feature__title {
  position: absolute;
  width: 100%;
  bottom: 68px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: $style_font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #000000;
  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.25;
    bottom: 81px;
  }
}
.feature__text {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: $first_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #000000;
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.25;
    bottom: 51px;
  }
}
.feature__icon {
  position: absolute;
  display: block;
  bottom: 9px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 19px;
  height: 18px;
  @media screen and (min-width: $desktop) {
    width: 25px;
    height: 25px;
    bottom: 11px;
  }
}
.feature__icon--size {
  @media screen and (min-width: $desktop) {
    width: 31px;
    height: 22px;
  }
}
#more-programm:checked ~ .section__text--more {
  display: block;
}
#more-programm:checked ~ .about__more .less {
  display: block;
}
#more-programm:checked ~ .about__more .more {
  display: none;
}