$first_color: #2e2520; // Основной цвет текста
$second_color: #876655; // Навигация в мобильном меню при активном состоянии
$button_color: #ab816c; // Заливка кнопок
$bgd-color: #fffff9; //Основной цвет фона
$first_font: 'Montserrat', sans-serif; //Основной шрифт ( навигация, статьи и т.д)
$style_font: 'Caveat Brush', cursive;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

//Обнуляем стили

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
