<!-- Разработчик - Oksana Orlova (kseniyaorlova88@gmail.com) -->
<section class="about__section" >
    <div class="about__container" id="aboutus">
        <picture>
            <source srcset="../src/images/Box@1x.png 1x, ../src/images/Box@2x.png 2x " type="image/png" media="(max-width: 767px)">
            <source srcset="../src/images/Box1@1x.png 1x, ../src/images/Box1@2x.png 2x " type="image/png" media="(max-width: 1279px)">
            <source srcset="../src/images/Box2@1x.png 1x, ../src/images/Box2@2x.png 2x " type="image/png" media="(min-width: 1280px)">
            <img class="about__image" src="../src/images/Box@1x.png" srcset="../src/images/Box@1x.png 1x, ../src/images/Box@2x.png 2x" alt="Бокс со сладостями">
        </picture>
        <picture>
            <source srcset="../src/images/Cacke@1x.png 1x, ../src/images/Cacke@2x.png 2x " type="image/png" media="(max-width: 767px)">
            <source srcset="../src/images/Cacke1@1x.png 1x, ../src/images/Cacke1@2x.png 2x " type="image/png" media="(max-width: 1279px)">
            <source srcset="../src/images/Cacke2@1x.png 1x, ../src/images/Cacke2@2x.png 2x " type="image/png" media="(min-width: 1280px)">
            <img class="about__picture" src="../src/images/Cacke@1x.png" srcset="../src/images/Cacke@1x.png 1x, ../src/images/Box@2x.png 2x" alt="Пончик">
        </picture>
        <div class="about__wrap">
        <h2 class="section__title--about">About us</h2>
        <p class="section__text">Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world! </p>
        <p class="section__text section__text--accent">Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for excellence. </p>
            <input type="checkbox" hidden id="more">
            <p class="section__text--more section__text--accent">We are going to teach you how to cook with passion and sparkles in your eyes! We love what we do and believe you will enjoy our cooking atmosphere!</p>
        <label for="more" class="about__more"><span class="more">Read more</span><span class="less">Less</span></label>
    </div>
    </div>
</section>
