<section class="contact" id='contacts'>
   <div class="contact-wraper">
        <form class="contact-form">
            <h2 class="contact-form__title">Contact</h2>
            <p class="contact-form__text">We will answer any question!</p>
            <input type="email" placeholder="Email" class="contact-form__input">
            <input type="text" placeholder="Type your question" class="contact-form__input contact-form__input--text">
            <button type="button" class="contact-form__button tada">Send</button>
        </form>
   </div>
</section>
