<!-- Разработчик - Basov Maxim (basyan68@yandex.ru) -->
<section class="contact" id='contacts'>
   <div class="contact-wraper">
        <form class="contact-form">
            <h2 class="contact-form__title">Contact</h2>
            <p class="contact-form__text">We will answer any question!</p>
            <input type="email" placeholder="Email" class="contact-form__input" title="Разрешено использовать только латинские буквы" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required/>
            <input type="text" placeholder="Type your question" class="contact-form__input contact-form__input--text" title="Разрешено использовать только пробелы и русские буквы, не менее 6"
            pattern="^[A-Za-zА-Яа-яЁё\s]{6,}" required>
            <button type="submit" class="contact-form__button tada">Send</button>
        </form>
   </div>
</section>
