<footer>
  <div class="footer__content">
        <div class="footer__social">
            <a class="footer__link--social tada" href="https://twitter.com/" target="_blank" class="footer__social--link">
                <svg class="footer__icon" >
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
                
            </a>

            <a class="footer__link--social tada" href="https://instagram.com" target="_blank" class="footer__social--link">
                <svg class="footer__icon" >
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
            <a class="footer__link--social tada" href="https://facebook.com" target="_blank" class="footer__social--link">
                <svg class="footer__icon" >
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
        </div>
        <address class="footer__address">
            <ul class="footer__unordered">
                <li class="footer__icon--item"><svg class="footer__icon--tel tada"><use href="./images/symbol-defs.svg#icon-tel"></use></svg><a class="footer__link" href="tel:+9102228855">(910)222-8855</a></li>
                <li class="footer__icon--item"><svg class="footer__icon--location tada"><use href="./images/symbol-defs.svg#icon-location"></use></svg><a class="footer__link" href="https://yandex.ru/maps/-/CCUqv2hAGB">New York</a></li>
            </ul>
        </address>
        
  </div>
</footer>