<!-- Разработчик - Владислав (korolev.v.s@bk.ru) -->
<section class="reviews" id="reviews">
  <div class="reviews-wraper">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews__about-us">
      <li class="reviews__john">
        <article>
          <picture>
            <source srcset="./images/reviews/john-110.jpg 1x, ./images/reviews/john-110@2x.jpg 2x"
              media="(max-width: 1279px)" />
            <source srcset="./images/reviews/john-136.jpg 1x, ./images/reviews/john-136@2x.jpg 2x"
              media="(min-width: 1280px)" />
            <img class="reviews-photo" src="./images/reviews/john-110.jpg" alt="John" />
          </picture>
          <div class="reviews-rate__four"></div>
          <h3 class="reviews-name">John</h3>
        </article>
      </li>
      <li class="reviews__will">
        <article>
          <picture>
            <source srcset="./images/reviews/will-110.jpg 1x, ./images/reviews/will-110@2x.jpg 2x"
              media="(max-width: 767px)" />
            <source srcset="./images/reviews/will-186.jpg 1x, ./images/reviews/will-186@2x.jpg 2x"
              media="(max-width: 1279px)" />
            <source srcset="./images/reviews/will-234.jpg 1x, ./images/reviews/will-234@2x.jpg 2x"
              media="(min-width: 1280px)" />
            <img class="reviews-photo" src="./images/reviews/will-110.jpg" alt="Will" />
          </picture>
          <div class="reviews-rate"></div>
          <h3 class="reviews-name">Will</h3>

          <p class="reviews-text">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained
            everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking
            forward to the
            next one and highly recommend it to everyone!
          </p>

          <p class="reviews-text__number">2/15</p>
        </article>
      </li>
      <li class="reviews__Elisabeth">
        <article>
          <picture>
            <source srcset="./images/reviews/elisabeth-110.jpg 1x, ./images/reviews/elisabeth-110@2x.jpg 2x"
              media="(max-width: 1279px)" />
            <source srcset="./images/reviews/elisabeth-136.jpg 1x, ./images/reviews/elisabeth-136@2x.jpg 2x"
              media="(min-width: 1280px)" />
            <img class="reviews-photo" src="./images/reviews/elisabeth-110.jpg" alt="Elisabeth" />
          </picture>
          <div class="reviews-rate"></div>
          <h3 class="reviews-name">Elisabeth</h3>
        </article>
      </li>
    </ul>
  </div>
</section>