.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-chat {
  width: 1.4541015625em;
}

.icon-chef-hat {
  width: 1.0869140625em;
}

.icon-facebook {
  width: 0.5791015625em;
}

.icon-location {
  width: 0.7333984375em;
}

.icon-logo {
  width: 2.2255859375em;
}

.icon-menu {
  width: 1.875em;
}

.icon-people {
  width: 1.0830078125em;
}

.icon-twitter {
  width: 1.2626953125em;
}
